/* *//*Element de Home *//* */

h1 {
    width: 100%;
}

.ContenairBlog {

  /* Pour les écrans de moins de 768px */
  @media (max-width: 768px) {
    flex-direction:column;
    align-items: center; /* Passe  en dessous de 768px */
  }
}
  
