/* *//*Element de Services *//* */
.ContenairServices {

    /* Pour les écrans de moins de 768px */
    @media (max-width: 768px) {
      flex-direction:column;
      align-items: center; /* Passe  en dessous de 768px */
    }
  }

h2 {
    font-size: 1.6em;
    line-height: 1.1;
}

.FaviconFonta {
    color: #0d6efd;
}