/* *//*Element du footer*//* */
footer h1 {
    font-size: 1.6em;
    line-height: 1.1;
  }

footer h4 {
    font-size: 1.3em;
    line-height: 1.1;
  }

footer {
    margin: 0;
    padding: 0;
    width: 100%; /* Remplit toute la largeur */
  }

.copyright {
    /* width: 100vw; Prend toute la largeur de la fenêtre */
   /* height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    background-color: #1e1e1e ; /* Fond sombre */
}

.FondFooter {
    background-color: #EEE ; /* Fond clair */
}

.FaviconFooter {
    color: #000;
    font-size: 30px; /* Ajustez la taille selon vos besoins */
}

/* Style des puces */
footer ul.list-unstyled > li {
  position: relative;
  padding-left: 20px; /* Espace pour la flèche */
}

footer ul.list-unstyled > li:before {
  content: ">";
  position: absolute;
  left: 0; /* Positionner la flèche à gauche */
  transform: translateY(-10%); /* Correction précise pour centrer */
  color: #0d6efd ; /* Couleur de la flèche */
  font-weight: bold;
  font-size: 1.2em; /* Taille de la flèche */
}