h1 {
    font-size: 3em;
    line-height: 1.1;
  }

/*Element du footer*/
footer h1 {
    font-size: 1.6em;
    line-height: 1.1;
  }

footer {
    margin: 0;
    padding: 0;
    width: 100%; /* Remplit toute la largeur */
  }

#copyright {
    width: 100vw; /* Prend toute la largeur de la fenêtre */
   /* height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    background-color: #343a40; /* Fond sombre */
}

/*Element de Home*/
.responsive-width {
  width: 50%; /* Par défaut, largeur à 50% */

  /* Pour les écrans de moins de 768px */
  @media (max-width: 768px) {
    width: 100%; /* Passe à 100% en dessous de 768px */
  }
}

#PartieGauche h1::after {
    content: "";
    display: block;
    width: 100%; /* Ajuste la largeur de la ligne */
    height: 4px; /* Hauteur de la ligne */
    background-color: #0d6efd ; /* Couleur de la ligne */
    margin: 8px auto 0 auto; /* Espace autour de la ligne */  
    border-radius: 2px; /* Arrondit les coins de la ligne */
}

.BarProgression {
  margin-bottom: 15px;
  width: 90%;
}

.bar {
  height: 20px;
  width: 15em;
  border-radius: 10px; /* Ajouter un arrondi aux bords */
  position: relative;
}

.Competence1 {
  background-color: #0dfdc9 ;
}

.Competence2 {
  background-color: #fd0d0d ;
}

.Competence3 {
  background-color: #fdf90d ;
}

.Competence4 {
  background-color: #0d31fd ;
}

.Competence5 {
  background-color: #e90dfd ;
}

.bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.bar-background {
  height: 20px;
  background-color: #e0e0e0; /* Couleur de la partie vide */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre interne pour la partie vide */
}

/*Element de Portfolio */
.ContenairCardPortefolio {

  /* Pour les écrans de moins de 768px */
  @media (max-width: 768px) {
    flex-direction:column;
    align-items: center; /* Passe  en dessous de 768px */
  }
}

.MainPorteFolio h1::after {
  content: "";
  display: block;
  width: 100%; /* Ajuste la largeur de la ligne */
  height: 4px; /* Hauteur de la ligne */
  background-color: #0d6efd ; /* Couleur de la ligne */
  margin: 8px auto 0 auto; /* Espace autour de la ligne */  
  border-radius: 2px; /* Arrondit les coins de la ligne */
}